.driveneats{
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    background-color: #eeeeee;
}
.topbar{
    width: 414px;
    height: 92px;
    display: flex;
    position: fixed;
    justify-content: left;
    align-items: center;
    background-color: brown;
    color: aliceblue;
    top: 0px;
    z-index: 1;
}
.topbar h1{
    margin-left: 20px;
    font-size: 44px;
}
.topbar h2 {
    margin-left: 20px;
    font-size: 18px;
}
.cardapio{
    margin-top: 92px;
    margin-bottom: 96px;
}
.opcoescomida{
    position: relative;
    display: flex;
    width: 414px;
    overflow-x: scroll;
}
.opcoesbebidas {
    position: relative;
    display: flex;
    width: 414px;
    overflow-x: scroll;
}
.opcoessobremesa {
    position: relative;
    display: flex;
    width: 414px;
    overflow-x: scroll;
}
.opcao{
    width: 172px;
    min-width: 172px;
    height: 216px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20px;
    background-color: #ffffffff;
}
.opcao img{
    width: 144px;
    height: 87px;
    position: absolute;
    top: 18px;
    left: 14px;
}
.titulo{
    font-weight: bold;
    position: absolute;
    bottom: 80px;
    left: 14px;
}
.descricao {
    position: absolute;
    bottom: 37px;
    left: 14px;
}
.valor{
    position: absolute;
    bottom: 13px;
    left: 36px;
}
.valor2 {
    position: absolute;
    bottom: 13px;
    left: 14px;
}
.seleciona{
    border-style: solid;
    border-color: green;
    border-width: 4px;
}
.lista{
}
